# Virtual Environment
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Testing
.pytest_cache/

# Local model cache
models/

# Audit Logs
data/audit_logs/